---
import Icon from './Icon.astro';
---

<section class="box skills">
<div class="stack gap-2 lg:gap-4">
		<Icon icon="teacher" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Adaptabilité et apprentissage continu</h2>
		<p>Avec une grande capacité d'adaptation et un goût pour l'apprentissage continu, je m'ajuste facilement aux changements. J'aime développer de nouvelles compétences et m'améliorer constamment. Cette attitude m'aide à relever les défis avec efficacité.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Programmation en Python</h2>
		<p>J'utilise ce langage pour créer des solutions logicielles efficaces et innovantes, tout en appréciant sa simplicité et sa polyvalence.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="github" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Gestion de versions</h2>
		<p>La gestion de versions est mon outil essentiel pour collaborer sur des projets de développement, assurer le suivi des changements du code source et maintenir une cohérence dans les équipes de développement.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
